*,
:after,
:before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  min-width: 1024px;
  margin: auto;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  background: #fff;
}

.slick-slide {
  outline: 0 !important;
}

.page-inner {
  padding-top: 50px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1230px;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-wrap--p {
  margin-left: -15px;
  margin-right: -15px;
}
.flex-wrap--p [class*=col] {
  padding-left: 15px;
  padding-right: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3%;
}

.col-2-3 {
  width: 66.6%;
}

.slick-slide {
  outline: 0 !important;
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
  color: #424148;
  font-weight: 500;
}

.btn {
  text-align: center;
  border: 0;
  outline: 0;
  transition: 0.3s color ease, 0.3s background-color ease, 0.3s border ease;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 12px;
}
.btn--lg {
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  font-weight: normal;
}
.btn--green {
  color: #fff;
  background: #45BE7D;
}
.btn--green:hover {
  background: #4caf50;
}
.btn--full {
  width: 100%;
}

.switch {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 41px;
  height: 25px;
  cursor: pointer;
}
.switch__cont {
  width: 41px;
  height: 25px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 15px;
  position: relative;
  display: block;
}
.switch__cont:before {
  background: #788591;
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 100%;
  transition: 0.3s all ease;
  width: 13px;
  height: 13px;
}
.switch__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch__input:checked + .switch__cont:before {
  background: #45BE7D;
  left: 21px;
}

.form-row {
  margin-bottom: 15px;
}
.form-row__hint {
  font-size: 12px;
  color: red;
}
.form-row__input {
  width: 100%;
  height: 40px;
  background: #F9F9F9;
  border: 1px solid #eee;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  padding: 0 7px;
  outline: 0;
  transition: 0.3s all ease;
}
.form-row__input:focus, .form-row__input:active {
  border-color: #ccc;
}
.form-row__label {
  font-size: 13px;
  color: #444;
  display: block;
  line-height: 1.2;
  margin: 0 0 5px;
}

.add-photo {
  position: relative;
  overflow: hidden;
  width: 80px;
  margin: auto;
}
.add-photo__img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 2px solid #DEDEDE;
  display: block;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.add-photo__text {
  text-align: center;
  font-size: 14px;
  margin: 0;
  color: #4caf50;
}
.add-photo__file {
  opacity: 0;
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 200px;
  cursor: pointer !important;
}

.modal {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 53, 94, 0.75);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  transform: translate(0, -100%);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.5s all ease;
}
.modal--active {
  z-index: 900;
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}
.modal__inner {
  padding: 35px 25px;
  background: #fff;
  max-width: 500px;
  position: relative;
  margin: auto;
  width: 100%;
}
.modal__inner--sm {
  max-width: 400px;
}
.modal__close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}
.modal__close:before, .modal__close:after {
  display: block;
  content: "";
  width: 22px;
  height: 2px;
  background: #222;
  transition: 0.3s all ease;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -11px;
}
.modal__close:before {
  transform: rotate(45deg);
}
.modal__close:after {
  transform: rotate(-45deg);
}
.modal__title {
  text-align: center;
  font-size: 26px;
  margin: 0 0 25px;
}

.body-hidden {
  overflow: hidden;
}

.header {
  text-align: center;
  padding: 25px 0;
}
.header__logo {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  line-height: 18px;
}
.header__logo span {
  font-weight: bold;
}

.table-promise {
  width: 805px;
  margin: 76px auto 36px;
}
.table-promise--no-p {
  width: 930px;
}
.table-promise--no-p .table-promise__th {
  padding-left: 8px;
  padding-right: 8px;
}
.table-promise__link {
  text-decoration: none;
  font-size: 14px;
  color: #45BE7D;
  font-weight: bold;
  transition: 0.3s color ease;
}
.table-promise__link:hover {
  color: #4caf50;
  text-decoration: underline;
}
.table-promise__remove {
  text-decoration: none;
  font-size: 14px;
  color: rgba(255, 0, 0, 0.8);
  font-weight: bold;
  transition: 0.3s color ease;
}
.table-promise__remove:hover {
  color: red;
  text-decoration: underline;
}
.table-promise__input-inner {
  width: 100%;
  position: relative;
  left: -7px;
}
.table-promise__input {
  background: #F9F9F9;
  height: 55px;
  border: 0;
  width: 100%;
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  padding: 0 7px;
  outline: 0;
}
.table-promise__input::placeholder {
  color: #000;
}
.table-promise__tr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.table-promise__th {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #8790A1;
  padding: 0 15px 8px;
}
.table-promise__td {
  font-size: 14px;
  color: #000;
  padding: 15px 8px;
  min-height: 55px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.table-promise__td.table-promise__item--name {
  font-size: 24px;
}
.table-promise__td.table-promise__item--name .table-promise__input {
  font-size: 24px;
  line-height: 29px;
}
.table-promise__item--name {
  width: 220px;
}
.table-promise__item--domain {
  width: 222px;
}
.table-promise__item--ip {
  width: 184px;
}
.table-promise__item--status {
  width: 70px;
}
.table-promise__item--edit {
  text-align: right;
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  justify-content: flex-end;
}
.table-promise__item--email {
  width: 150px;
}
.table-promise__item--password {
  width: 120px;
}
.table-promise__item--u-name {
  width: 170px;
}
.table-promise__item--l-check {
  width: 140px;
}
.table-promise__item--photo {
  width: 50px;
}
.table-promise__user-img {
  display: block;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #DEDEDE;
  text-decoration: none;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.page-404 {
  padding: 30px 15px;
  width: 350px;
  max-width: 100%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin: 150px auto 30px;
}
.page-404 h3 {
  margin: 29px 0 37px;
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
}
.page-404 p {
  font-size: 20px;
  line-height: 18px;
  margin: 0;
}