.header {
  text-align: center;
  padding: 25px 0;
  
  &__logo {
    font-family:$fontRoboto;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    line-height: 18px;

    span {
      font-weight: bold;
    }
  }
}