.modal {
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 53, 94, 0.75);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  transform: translate(0,-100%) ;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.5s all ease;

  &--active {
    z-index: 900;
    transform: translate(0,0) ;
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    padding: 35px 25px;
    background: #fff;
    max-width: 500px;
    position: relative;
    margin: auto;
    width: 100%;

    &--sm {
      max-width: 400px;
    }
  }

  &__close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;

    &:before ,
    &:after {
      display: block;
      content: '';
      width: 22px;
      height: 2px;
      background: #222;
      transition: 0.3s all ease;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -1px 0 0 -11px;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    text-align: center;
    font-size: 26px;
    margin: 0 0 25px;
  }
}

.body-hidden {
  overflow: hidden;
}