.page-404 {
  padding: 30px 15px;
  width: 350px;
  max-width: 100%;
  text-align: center;
  font-family: $fontRoboto;
  margin: 150px auto 30px;

  h3 {
    margin: 29px 0 37px;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
  }

  p {
    font-size: 20px;
    line-height: 18px;
    margin: 0;
  }
}