.table-promise {
  width: 805px;
  margin: 76px auto 36px;

  &--no-p {
    width: 930px;

    .table-promise__th {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  
  &__link {
    text-decoration: none;
    font-size: 14px;
    color: #45BE7D;
    font-weight: bold;
    transition: 0.3s color ease;

    &:hover {
      color: #4caf50;
      text-decoration: underline;
    }
  }

  &__remove {
    text-decoration: none;
    font-size: 14px;
    color: rgba(red,0.8);
    font-weight: bold;
    transition: 0.3s color ease;

    &:hover {
      color: red;
      text-decoration: underline;
    }
  }

  &__input-inner {
    width: 100%;
    position: relative;
    left: -7px;
  }

  &__input {
    background: #F9F9F9;
    height: 55px;
    border: 0;
    width: 100%;
    color: #000000;
    font-size: 14px;
    line-height: 17px;
    padding: 0 7px;
    outline: 0;
    
    &::placeholder {
      color: #000;
    }
  }

  &__tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__th {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 22px;
    letter-spacing: 0.1em;
    color: #8790A1;
    padding: 0 15px 8px;
  }

  &__td {
    font-size: 14px;
    color: #000;
    padding: 15px 8px;
    min-height: 55px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &.table-promise__item--name {
      font-size: 24px;

      .table-promise__input {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }

  &__item {
    &--name {
      width: 220px;
    }

    &--domain {
      width: 222px;
    }

    &--ip {
      width: 184px;
    }

    &--status {
      width: 70px;
    }
    
    &--edit {
      text-align: right;
      flex-basis: 0;
      flex-grow: 1;
      min-width: 0;
      max-width: 100%;
      justify-content: flex-end;
    }

    &--email {
      width: 150px;
    }

    &--password {
      width: 120px;
    }

    &--u-name {
      width: 170px;
    }

    &--l-check {
      width: 140px;
    }

    &--photo {
      width: 50px;
    }
  }

  &__user-img {
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #DEDEDE;
    text-decoration: none;
  }
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}