.btn {
  text-align: center;
  border: 0;
  outline: 0;
  transition: 0.3s color ease, 0.3s background-color ease,  0.3s border ease;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  border-radius: 20px;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 12px;

  &--lg {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    font-weight: normal;
  }
  
  &--green {
    color: #fff;
    background: #45BE7D;

    &:hover {
      background: #4caf50;
    }
  }

  &--full {
    width: 100%;
  }
}