.switch {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 41px;
  height: 25px;
  cursor: pointer;

  &__cont {
    width: 41px;
    height: 25px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 15px;
    position: relative;
    display: block;

    &:before {
      background: #788591;
      content: '';
      display: block;
      position: absolute;
      left: 5px;
      top: 5px;
      border-radius: 100%;
      transition: 0.3s all ease;
      width: 13px;
      height: 13px;
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
    &:checked + .switch__cont:before {
      background: #45BE7D;
      left: 21px;
    }
  }
}

.form-row {
  margin-bottom: 15px;

  &__hint {
    font-size: 12px;
    color: red;
  }

  &__input {
    width: 100%;
    height: 40px;
    background: #F9F9F9;
    border: 1px solid #eee;
    color: #000000;
    font-size: 14px;
    line-height: 17px;
    padding: 0 7px;
    outline: 0;
    transition: 0.3s all ease;

    &:focus,
    &:active {
      border-color: #ccc;
    }
  }
  
  &__label {
    font-size: 13px;
    color: #444;
    display: block;
    line-height: 1.2;
    margin: 0 0 5px;
  }
}

.add-photo {
  position: relative;
  overflow: hidden;
  width: 80px;
  margin: auto;

  &__img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 2px solid #DEDEDE;
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__text {
    text-align: center;
    font-size: 14px;
    margin: 0;
    color: #4caf50;
  }

  &__file {
    opacity: 0;
    z-index: 50;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 200px;
    cursor: pointer!important;
  }
}