.main-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1230px;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.text-left {
  text-align: left!important;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;

  &--p {
    margin-left: -15px;
    margin-right: -15px;

    [class*="col"] {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.ml-auto {
  margin-left: auto!important;
}

.mr-auto {
  margin-right: auto!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.3%;
}

.col-2-3 {
  width: 66.6%;
}

.slick-slide {
  outline: 0!important;
}
